version: '3.7'

services:
  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - "./data:/var/lib/mysql"
      - "./my.cnf:/etc/my.cnf"
    ports:
      - 3306:3306